Frequent pattern mining

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import matplotlib.pyplot as plt

In [3]:
dataset = [['Milk','Onion', 'Bread', 'Kidney Beans','Eggs','Yoghurt'],
           ['Fish','Onion','Bread','Kidney Beans','Eggs','Yoghurt'],
           ['Milk', 'Apples', 'Kidney Beans’, ‘Eggs'],
           ['Milk', 'Sugar', 'Tea Leaves', 'Kidney Beans', 'Yoghurt'],
           ['Tea Leaves','Onion','Kidney Beans', 'Ice cream', 'Eggs'],
            
]

In [4]:
tr = TransactionEncoder()
tr_arr = tr.fit(dataset).transform(dataset)
df = pd.DataFrame(tr_arr, columns=tr.columns_)

In [5]:
df.head()

,Apples,Bread,Eggs,Fish,Ice cream,Kidney Beans,"Kidney Beans’, ‘Eggs",Milk,Onion,Sugar,Tea Leaves,Yoghurt
0,False,True,True,False,False,True,False,True,True,False,False,True
1,False,True,True,True,False,True,False,False,True,False,False,True
2,True,False,False,False,False,False,True,True,False,False,False,False
3,False,False,False,False,False,True,False,True,False,True,True,True
4,False,False,True,False,True,True,False,False,True,False,True,False

In [14]:
frequent_itemsets = apriori(df, min_support = 0.6, use_colnames = True)

In [15]:
frequent_itemsets

   support                     itemsets
0      0.6                       (Eggs)
1      0.8               (Kidney Beans)
2      0.6                       (Milk)
3      0.6                      (Onion)
4      0.6                    (Yoghurt)
5      0.6         (Kidney Beans, Eggs)
6      0.6                (Eggs, Onion)
7      0.6        (Kidney Beans, Onion)
8      0.6      (Kidney Beans, Yoghurt)
9      0.6  (Kidney Beans, Eggs, Onion)

In [16]:
cd D:\Course\SBRS

D:\Course\SBRS